
body{background-color:lightblue;}

h1 {
  color: black;
  font-family: verdana;
  font-size: 15;
  text-align: center;
}

 p {
    font-size: large;
}

ol {
  font-size: large;
}

a{
  text-decoration: none;
  color: blue;
}

h3 {
font-family: Verdana;
font-size: 30px;
text-align: center;
}

.page-header {
  background-color: #0000CD;
  margin-top: 0;
  padding: 5px 5px 5px 10px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
  color: #ffffff;
  font-size: 24pt;
  text-decoration: none;
  text-align: center;
}

div.nomeInst{
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  color: black;
}

div.menu{
  margin: 30px auto 0 auto;
  width: 70%;
}

div.voltarIni{
  font-size: 25px;
  text-align: center;
  width: 25%;
  float: left;
}

div.irCont{
  font-size: 25px;
  text-align: center;
  width: 25%;
  float: right;
}

div.irAna{
  font-size: 25px;
  text-align: center;
  width: 25%;
  float: right;
}

div.irCurs{
  font-size: 25px;
  text-align: center;
  width: 25%;
  display: inline-block;
}

div.cont{
  width: 70%;
  text-align: justify;
  margin: 50px auto 0 auto;
  font-family: Verdana, Tahoma, sans-serif;
  border: solid rgba(13, 9, 53, 0.678) 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box; 
          box-sizing: border-box;
}